.nav1{
    background-color: rgb(216, 199, 199);
    align-items: center;
    text-align: center;
}

.nav2{
    margin: 0 auto;
    min-width:100px ;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    flex-wrap: wrap;
}
button{
    border: 1px solid white;
    background-color: white;
}
.b1{
    background-color: rgb(50, 90, 201);
    border: 1px;
    border-radius: 9px;
    color: white;
    width: 100px;
}

.b2{
    background-color: rgba(37, 194, 6, 0.61);
    border: 1px;
    border-radius: 9px;
    color: white;
    width: 100px;
}
button:hover{
    color: rgb(2, 2, 231);
}